In [1]:
import pandas as pd
df=pd.read_excel("C:\\Users\\pbbha\\OneDrive\\Desktop\\Term 4\\HRA\\Skewnesss- Original.xlsx")

In [2]:
df

     manager_sat  employee_sat  salary_2017  percent_salary_hike  age
0             81            80       119968             0.952381   41
1             88            84        99330             1.818182   49
2             83            93       102511             1.739130   37
3             86            83        56674             1.666667   33
4             79            80       122021             2.400000   27
..           ...           ...          ...                  ...  ...
681           79            80        74999             9.743590   38
682           79            80        74999             9.772404   32
683           79            80        74999             9.772727   25
684           79            80        74999             9.744681   40
685           79            80        74000             9.759207   26

[686 rows x 5 columns]

In [5]:
df["age"].quantile([.0,.25,.5,.75,1])

0.00    18.0
0.25    30.0
0.50    35.5
0.75    43.0
1.00    60.0
Name: age, dtype: float64

In [29]:
bins=[18,30,35.5,43,60]

In [30]:
bins

[18, 30, 35.5, 43, 60]

In [31]:
df['binned']=pd.cut(df['age'],bins)

In [32]:
df["binned"]

0      (35.5, 43.0]
1      (43.0, 60.0]
2      (35.5, 43.0]
3      (30.0, 35.5]
4      (18.0, 30.0]
           ...
681    (35.5, 43.0]
682    (30.0, 35.5]
683    (18.0, 30.0]
684    (35.5, 43.0]
685    (18.0, 30.0]
Name: binned, Length: 686, dtype: category
Categories (4, interval[float64, right]): [(18.0, 30.0] < (30.0, 35.5] < (35.5, 43.0] < (43.0, 60.0]]

In [33]:
df['binned'].value_counts()

(35.5, 43.0]    184
(18.0, 30.0]    183
(43.0, 60.0]    159
(30.0, 35.5]    157
Name: binned, dtype: int64

In [34]:
df['age'].min()

18

In [35]:
df['age'].max()

60

In [36]:
bins=[18,32,46,60]

In [37]:
df['binned1']=pd.cut(df['age'],bins)

In [38]:
df['binned1']

0      (32, 46]
1      (46, 60]
2      (32, 46]
3      (32, 46]
4      (18, 32]
         ...
681    (32, 46]
682    (18, 32]
683    (18, 32]
684    (32, 46]
685    (18, 32]
Name: binned1, Length: 686, dtype: category
Categories (3, interval[int64, right]): [(18, 32] < (32, 46] < (46, 60]]

In [39]:
df['binned1'].value_counts()

(32, 46]    319
(18, 32]    247
(46, 60]    117
Name: binned1, dtype: int64