In [1]:
import pandas as pd
df=pd.read_excel("C:\\Users\\pbbha\\OneDrive\\Desktop\\HRA\\mean median mode - Original.xlsx")

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\pbbha\\OneDrive\\Desktop\\HRA\\mean median mode - Original.xlsx'

In [4]:
df

,age,department,employee_number,gender,job_level,marital_status,over_time,performance_rating,totalW_working_years,training_times_last_year,years_since_last_promotion,years_with_curr_manager,monthly_income,salary_2017,salary_2018,year_of_joining,last_role_change,percent_hike
0,41,Sales,1,Female,2,Single,Yes,3,8,0,0,5,5993,71916,79826.76,2012,2014,11
1,49,Research & Development,2,Male,2,Married,No,4,10,3,1,7,5130,61560,75718.80,2008,2011,23
2,37,Research & Development,4,Male,1,Single,Yes,3,7,3,0,0,2090,25080,28842.00,2018,2018,15
3,33,Research & Development,5,Female,1,Married,Yes,3,8,3,3,0,2909,34908,38747.88,2010,2011,11
4,27,Research & Development,7,Male,1,Married,No,3,6,3,2,2,3468,41616,46609.92,2016,2016,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,Research & Development,2061,Male,2,Married,No,3,17,3,0,3,2571,30852,36096.84,2013,2016,17
1466,39,Research & Development,2062,Male,3,Married,No,3,9,5,1,7,9991,119892,137875.80,2011,2011,15
1467,27,Research & Development,2064,Male,2,Married,Yes,4,6,0,0,3,6142,73704,88444.80,2012,2016,20
1468,49,Sales,2065,Male,2,Married,No,3,17,3,0,8,5390,64680,73735.20,2009,2012,14
1469,34,Research & Development,2068,Male,2,Married,No,3,6,3,1,2,4404,52848,59189.76,2014,2015,12

In [5]:
df["salary_2018"].mean()

89847.60922448979

In [6]:
df["salary_2018"].median()

68369.4

In [7]:
df["salary_2018"].min()

13439.880000000001

In [8]:
df["salary_2018"].max()

295323.36

In [9]:
df["salary_2018"].max()-df["salary_2018"].min()

281883.48

In [10]:
df["salary_2018"].quantile(0.25)

40254.6

In [11]:
df["salary_2018"].quantile(0.75)

114802.56

In [12]:
df["salary_2018"].quantile(0.75)-df["salary_2018"].quantile(0.25)

74547.95999999999

In [13]:
df["salary_2018"].quantile(0.25)-1.5*df["salary_2018"].quantile(0.75)-df["salary_2018"].quantile(0.25)

-172203.84

In [15]:
df["salary_2018"].quantile(0.75)+1.5*df["salary_2018"].quantile(0.75)-df["salary_2018"].quantile(0.25)

246751.80000000002