In [12]:
import pandas as pd
df=pd.read_excel("C:\\Users\\pbbha\\OneDrive\\Desktop\\Term 4\\HRA\\4 Regression.xlsx")

In [14]:
import statsmodels.api as sm
x=df['Hours_of _Tr']
y=df['Productivity']

In [15]:
x=sm.add_constant(x)
model1=sm.OLS(y,x)

In [16]:
result=model1.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           Productivity   R-squared:                       0.003
Model:                            OLS   Adj. R-squared:                 -0.053
Method:                 Least Squares   F-statistic:                   0.05095
Date:                Wed, 11 Oct 2023   Prob (F-statistic):              0.824
Time:                        12:42:19   Log-Likelihood:                -92.988
No. Observations:                  20   AIC:                             190.0
Df Residuals:                      18   BIC:                             192.0
Df Model:                           1
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const           58.1799     13.682      4.252      0.000      29.435      86.925
Hours_of _Tr    -0.0984      0.436     -0.226      0.824      -1.014       0.817
==============================================================================
Omnibus:                        0.590   Durbin-Watson:                   1.700
Prob(Omnibus):                  0.745   Jarque-Bera (JB):                0.604
Skew:                           0.009   Prob(JB):                        0.739
Kurtosis:                       2.149   Cond. No.                         72.1
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [17]:
df=pd.read_excel('C:\\Users\\pbbha\\OneDrive\\Desktop\\Term 4\\HRA\\mean median mode - Original.xlsx')

In [18]:
df

,age,department,employee_number,gender,job_level,marital_status,over_time,performance_rating,totalW_working_years,training_times_last_year,years_since_last_promotion,years_with_curr_manager,monthly_income,salary_2017,salary_2018,year_of_joining,last_role_change,percent_hike
0,41,Sales,1,Female,2,Single,Yes,3,8,0,0,5,5993,71916,79826.76,2012,2014,11
1,49,Research & Development,2,Male,2,Married,No,4,10,3,1,7,5130,61560,75718.80,2008,2011,23
2,37,Research & Development,4,Male,1,Single,Yes,3,7,3,0,0,2090,25080,28842.00,2018,2018,15
3,33,Research & Development,5,Female,1,Married,Yes,3,8,3,3,0,2909,34908,38747.88,2010,2011,11
4,27,Research & Development,7,Male,1,Married,No,3,6,3,2,2,3468,41616,46609.92,2016,2016,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,Research & Development,2061,Male,2,Married,No,3,17,3,0,3,2571,30852,36096.84,2013,2016,17
1466,39,Research & Development,2062,Male,3,Married,No,3,9,5,1,7,9991,119892,137875.80,2011,2011,15
1467,27,Research & Development,2064,Male,2,Married,Yes,4,6,0,0,3,6142,73704,88444.80,2012,2016,20
1468,49,Sales,2065,Male,2,Married,No,3,17,3,0,8,5390,64680,73735.20,2009,2012,14
1469,34,Research & Development,2068,Male,2,Married,No,3,6,3,1,2,4404,52848,59189.76,2014,2015,12

In [19]:
import statsmodels.api as sm1
x=df['performance_rating']
y=df['percent_hike']

In [20]:
x=sm1.add_constant(x)
model2=sm1.OLS(y,x)

In [21]:
result=model2.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           percent_hike   R-squared:                       0.598
Model:                            OLS   Adj. R-squared:                  0.598
Method:                 Least Squares   F-statistic:                     2187.
Date:                Wed, 11 Oct 2023   Prob (F-statistic):          4.27e-293
Time:                        12:42:23   Log-Likelihood:                -3322.1
No. Observations:                1470   AIC:                             6648.
Df Residuals:                    1468   BIC:                             6659.
Df Model:                           1
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                 -9.5358      0.533    -17.905      0.000     -10.580      -8.491
performance_rating     7.8463      0.168     46.767      0.000       7.517       8.175
==============================================================================
Omnibus:                      126.254   Durbin-Watson:                   2.106
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              111.830
Skew:                           0.602   Prob(JB):                     5.20e-25
Kurtosis:                       2.388   Cond. No.                         30.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [22]:
# null - no relationship
# alternative= relationship
# here p - value is low we failed to reject null hypothesis.
#OLS = Trendline
#There is a relationship between these 2 variables 
# If R-square is more than .7 there is strong relation

In [24]:
df1=df.drop(['percent_hike'],axis=1)

In [23]:
#Depnedent Variable will be 1 only = y
#Independent Variable can be more than 1 = x

In [25]:
x=df1
y=df['percent_hike']

In [26]:
# Convert categorical variables to dummy variables
df_dummies = pd.get_dummies(df, columns=['department', 'gender', 'marital_status', 'over_time'], drop_first=True)

# After one-hot encoding, drop the 'percent_hike' column for the predictors (X)
x = df_dummies.drop(['percent_hike'], axis=1)

# Target remains the same
y = df['percent_hike']

# Add constant to the predictors
x = sm.add_constant(x)

# Run the regression
model1 = sm.OLS(y, x).fit()
print(model1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           percent_hike   R-squared:                       0.779
Model:                            OLS   Adj. R-squared:                  0.776
Method:                 Least Squares   F-statistic:                     283.4
Date:                Wed, 11 Oct 2023   Prob (F-statistic):               0.00
Time:                        13:38:31   Log-Likelihood:                -2884.5
No. Observations:                1470   AIC:                             5807.
Df Residuals:                    1451   BIC:                             5908.
Df Model:                          18
Covariance Type:            nonrobust
=====================================================================================================
                                        coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
const                               -36.2717     41.609     -0.872      0.384    -117.893      45.349
age                                   0.0121      0.007      1.738      0.082      -0.002       0.026
employee_number                      -0.0001   7.56e-05     -1.548      0.122      -0.000    3.13e-05
job_level                             0.0645      0.139      0.464      0.643      -0.208       0.337
performance_rating                    4.4972      0.160     28.145      0.000       4.184       4.811
totalW_working_years                 -0.0233      0.012     -1.873      0.061      -0.048       0.001
training_times_last_year             -0.0062      0.035     -0.177      0.860      -0.076       0.063
years_since_last_promotion           -0.0054      0.018     -0.299      0.765      -0.041       0.030
years_with_curr_manager               0.0007      0.021      0.031      0.975      -0.041       0.042
monthly_income                    -5.226e-05   1.56e-06    -33.517      0.000   -5.53e-05   -4.92e-05
salary_2017                          -0.0006   1.87e-05    -33.517      0.000      -0.001      -0.001
salary_2018                           0.0005   1.61e-05     34.020      0.000       0.001       0.001
year_of_joining                      -0.0108      0.015     -0.700      0.484      -0.041       0.019
last_role_change                      0.0290      0.021      1.412      0.158      -0.011       0.069
department_Research & Development     0.2678      0.227      1.179      0.239      -0.178       0.714
department_Sales                      0.3094      0.237      1.308      0.191      -0.155       0.774
gender_Male                           0.1272      0.093      1.371      0.171      -0.055       0.309
marital_status_Married                0.1797      0.117      1.532      0.126      -0.050       0.410
marital_status_Single                 0.0317      0.126      0.252      0.801      -0.215       0.279
over_time_Yes                        -0.0263      0.101     -0.260      0.795      -0.225       0.172
==============================================================================
Omnibus:                        1.305   Durbin-Watson:                   2.024
Prob(Omnibus):                  0.521   Jarque-Bera (JB):                1.213
Skew:                          -0.031   Prob(JB):                        0.545
Kurtosis:                       3.126   Cond. No.                     1.11e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.6e-21. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.